body{
    
}
#heading {
    border: 1px solid black;
    
}
#banner{
    border: 1px solid black;
}
#movie-holder{
    border: 1px solid black;
    height: 300px;
    overflow: scroll
}
#info-box{
    border: 1px solid black;
}
.movie_icon
{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    float: left;
    clear: right;
    width: 200px;
    height: 30px
}
.movie_icon:hover
{
    border-color: red;
}
#2baf70d1
{ 
    border: 10px solid green;
}

#back-button{
    border: 1px solid black;
    height: 40px;
    width: 40px;
}
