body{
    
}
#heading {
    border: 1px solid black;
    margin-bottom: 10px;
    
}
#banner{
    border: 1px solid black;
    margin-bottom: 10px
}
#movie-holder{
    border: 1px solid black;
    height: 300px;
    overflow: scroll
        
}
#info-box{
    border: 1px solid black;
    margin-bottom: 10px
}
.movie_icon
{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    float: left;
    clear: right;
    width: 200px;
    height: 30px
}

{
    border-color: red;
}
#2baf70d1
{ 
    border: 10px solid green;
}

#back-button{
    border: 1px solid green;
    height: 40px;
    width: 40px;
}
body {background-image: url(https://live.staticflickr.com/2207/2113036232_d109586d92_b.jpg)}
div{background-color: aquamarine}
div{font-family:fantasy}


